<p>http-requests works!</p>
<ul class="nav nav-pills">
  <li class="nav-item"
    (click)="onNavClick('Part 1')">
    <a class="nav-link"
      [class.active]="viewMode == 'Part 1'">
      Part 1
    </a>
  </li>
  <li class="nav-item"
    (click)="onNavClick('Part 2')">
    <a class="nav-link"
      [class.active]="viewMode == 'Part 2'">
      Part 2
    </a>
  </li>
  <li class="nav-item"
    (click)="onNavClick('Part 3')">
    <a class="nav-link"
      [class.active]="viewMode == 'Part 3'">
      Part 3
    </a>
  </li>
</ul>
