<ul class="nav nav-pills">
  <li class="nav-item pointer"
    (click)="onNavClick('Part 1')">
    <a class="nav-link"
      [class.active]="viewMode == 'Part 1'">
      Posts
    </a>
  </li>
  <li class="nav-item pointer"
    (click)="onNavClick('Part 2')">
    <a class="nav-link"
      [class.active]="viewMode == 'Part 2'">
      Followers
    </a>
  </li>
</ul>
<br>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'Part 1'">
    <app-post></app-post>
  </div>
  <div *ngSwitchCase="'Part 2'">
    <my-followers></my-followers>
  </div>
</div>
