<p>
  This page is based on Fake API implementation. <br>
  Array is downloaded via API. While delete and post operations, we send a request, we get a response, but no operations are performed on the backend.<br>
  That's why the table always fetches full and the next posts have id == 101.<br>
  <br>
</p>
<input
  #myInput
  (keyup.enter)="addToList(myInput)"
  type="text"
  class="form-control">
<br>
<ul class="list-group" type='1'>
  <li class="list-group-item"
    *ngFor="let post of posts">

    <!--
    <button class="btn btn-primary btn-sm button-update"
      (click)="updatePost(post)">
      Update
    </button>
    -->
    <button class="btn btn-primary btn-sm"
      (click)="deletePost(post)">
      Delete
    </button>
    {{ post.id + ". " + post.title }}
  </li>
</ul>
