/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
  padding: 20px;
}

.main-div{
  padding: 0px 10px;
}

.btn:disabled{
  background-color: rgb(162, 162, 162);
  border: 0px;
}
