<h1>Welcome to my portfolio</h1>

<a href="https://github.com/MIzbicki/Portfolio" target="_blank">
  Code repository - Github
</a><br><br>

<p>
  Website does not focus on beautiful graphics.
  <br>
  The website is designed to confirm skills related to web applications - the Angular framework.
</p>

<h3>You will find here:</h3>
<ul>
  <li *ngFor="let item of youWillFindList">
    {{item}}
  </li>
</ul>

<h3>For the development I used:</h3>
<ul>
  <li *ngFor="let item of usedForDevelopmentList">
    {{item}}
  </li>
</ul>

<h3>Enjoy testing!</h3>
